<div class="flex justify-center items-center h-screen">
  <div class="bg-orange p-8 rounded-md shadow-md w-full max-w-md flex h-full justify-center flex-col md:h-[85%]">
    <h2 class="text-2xl font-bold mb-6 text-center text-white">Cadastre-se Agora!</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label for="email" class="block font-medium mb-1 text-white opacity-0 text-[0]">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="E-mail"
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-[#A28DFF]">
      </div>
      <div>
        <label for="password" class="block font-medium mb-1 text-white opacity-0 text-[0]">Senha</label>
        <input type="password" id="password" formControlName="password" placeholder="Senha"
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-[#A28DFF]">
      </div>
      <div>
        <label for="confirmPassword" class="block font-medium mb-1 text-white opacity-0 text-[0]">Confirmar Senha</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar Senha"
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-[#A28DFF]">
      </div>
      <button type="submit"
        class="w-full bg-[#A28DFF] text-white font-bold py-2 px-4 rounded-md hover:bg-[#8F72E8] focus:outline-none focus:ring focus:ring-[#A28DFF]">Cadastrar-se</button>
    </form>
    <div class="mt-4 text-center text-white">
      <p class="text-sm">Já tem uma conta? <a href="/" class="text-[#6C1EBB] font-medium hover:underline">Fazer
          Login</a></p>
    </div>
    <div class="mt-4 text-center flex justify-center">
      <button
        class="flex items-center justify-center gap-2 bg-white border border-gray-300 rounded-3xl px-4 py-2 hover:bg-gray-100 focus:outline-none focus:ring focus:ring-[#A28DFF] w-[60%]">
        <span>
          <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.2443 9.69114C17.2443 8.93575 17.1881 8.38451 17.0665 7.81287H9.15674V11.2223H13.7996C13.706 12.0696 13.2005 13.3457 12.0772 14.2031L12.0615 14.3172L14.5624 16.4301L14.7357 16.4489C16.3269 14.8462 17.2443 12.4881 17.2443 9.69114Z"
              fill="#4285F4" />
            <path
              d="M9.15731 18.6743C11.4319 18.6743 13.3415 17.8576 14.7362 16.449L12.0778 14.2031C11.3664 14.7442 10.4116 15.1219 9.15731 15.1219C6.9295 15.1219 5.03867 13.5192 4.36464 11.3041L4.26584 11.3132L1.66536 13.508L1.63135 13.6111C3.01671 16.6122 5.86234 18.6743 9.15731 18.6743Z"
              fill="#34A853" />
            <path
              d="M4.36431 11.3043C4.18646 10.7327 4.08353 10.1201 4.08353 9.48725C4.08353 8.85431 4.18646 8.24185 4.35495 7.6702L4.35024 7.54845L1.71717 5.31845L1.63102 5.36314C1.06005 6.60854 0.732422 8.00708 0.732422 9.48725C0.732422 10.9674 1.06005 12.3659 1.63102 13.6113L4.36431 11.3043Z"
              fill="#FBBC05" />
            <path
              d="M9.15732 3.8522C10.7392 3.8522 11.8063 4.59739 12.4148 5.22013L14.7924 2.6885C13.3322 1.20833 11.4319 0.299805 9.15732 0.299805C5.86235 0.299805 3.01671 2.36183 1.63135 5.36299L4.35528 7.67005C5.03867 5.45489 6.9295 3.8522 9.15732 3.8522Z"
              fill="#EB4335" />
          </svg>
        </span>
        <span>Login com Google</span>
      </button>
    </div>
  </div>
</div>
