<app-spinner></app-spinner>

<div class="drawer flex-col justify-center items-center h-screen w-full">
  <div class="bg-slate-300 w-full">

    <app-header></app-header>
  </div>
  <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
  <div class="bg-white p-6 rounded-md shadow-md w-full max-w-md flex h-full justify-between flex-col md:h-[85%]">
    <div class="flex justify-between items-center pb-4">
      <div class="drawer-content flex items-center md:hidden lg:hidden">
        <label for="menu-drawer" class="btn btn-primary drawer-button " id="menu-drawer-label">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />

          </svg>
          <span class="hidden">menu</span>
        </label>


      </div>
      <div class="flex items-center">
        <a href="/account">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <circle cx="12" cy="12" r="11" stroke-width="2" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14c-3.866 0-7 3.134-7 7h14c0-3.866-3.134-7-7-7zm0-10a5 5 0 100 10 5 5 0 000-10z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center h-[532px]">
      <div class="w-full bg-gray-200 rounded-md border-black border-2 flex items-center justify-center my-4 h-full">
        <div id="adobe-dc-view" class="pdf-viewer"></div>
      </div>
    </div>
    <div class="flex flex-col justify-center p-4 text-white bg-violet-400 border rounded border-violet-400">
      <p>Resultados da Busca: "Data Types"</p>
      <p>Capítulo 1:</p>
      <ul class="list-disc ml-5">
        <li class="text-white">Página: 42</li>
        <li class="text-white">Contexto: O que são Data types no java</li>
      </ul>
    </div>
    <div class="flex justify-center mt-4">
      <div class="flex items-center bg-yellow-400 rounded p-3 w-11/12">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-600" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-4.35-4.35m0 0a7 7 0 111.4-1.4l4.35 4.35z" />
        </svg>
        <input type="text" placeholder="Digite sua busca"
          class="bg-yellow-400 outline-none text-slate-600 ml-2 w-full" />
      </div>
    </div>

  </div>

  <div class="drawer-side">
    <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full text-white bg-neon-carrot flex flex-col items-center">
      <div *ngIf="files$ | async as files" class="mt-4">
        <h3 class="text-lg font-bold text-center">Lista de livros enviados</h3>
        <div>
          <ul>
            <!-- <li *ngFor="let file of files$ | async" class="mt-4">{{ file }}</li> -->
          </ul>
        </div>
      </div>

      <div class="mt-12">
        <input type="file" (change)="onFileSelected($event)" class="file-input w-full max-w-xs" />
        <button (click)="onUpload()" class="btn border-2 bg-slate-500 text-white mt-4 w-full">Upload</button>
      </div>

      <div *ngIf="isLoading" class="mt-12">
        <span class="loading loading-dots loading-lg"></span>
      </div>

      <div *ngIf="downloadURL$ | async as downloadURL" class="mt-12 font-semibold text-lg text-yellow-100 text-center">
        <p class="mb-4 text-green-900 ">livro carregado com sucesso</p>
        <a [href]="downloadURL" target="_blank">Ver livro no navegador</a>
      </div>
    </ul>
  </div>
</div>
